@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-image: url('../images/space.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-size: cover;

}

h1 {
    font-family: 'Inter', serif;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}


/*Dropdown Menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border: outset;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;

}   

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
}





/* CSS Variables */
.header {

    /* padding: 15px 20px; */
    padding: 0%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
    list-style: none;
    background-color: #4c2be1
}

.navbar-column {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    font-family: "Inter", sans-serif;
    display: flex;
    margin: 0 1em;


}

nav a {
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: medium;

}

nav a:hover {
    background-color: rgba(0, 0, 139, 0.1);
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    margin-bottom: 0.5rem;
}


#people,
#starships {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    width: 90%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    gap: 1rem;

}


.person, .starship {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 2rem);
    box-sizing: border-box;
    text-align: center;
    font-family: "Inter", sans-serif;
}


@media screen and (max-width: 768px) {
    .person, .starship {
        flex: 1 1 100%;
    }

    #people,
    #starships {
        flex-direction: column;
        width: 80%;
        margin: 1rem auto;
    }   
    .header {
        flex-direction: column;
        align-items: center;
    }
    .navbar-column {
        margin: 0.5em 0;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #people,
    #starships {
        flex-direction: row;
        width: 80%;
        margin: 1rem auto;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .navbar-column {
        margin: 0.5em 0;
    }
}